﻿
@{
    ViewBag.Title = "Index";
}


 
<div class="row">
<div class="col-xs-12">
    <h2>Welcome to SG Human Resources Portal</h2>
    <p>This system allows us to fill out application form</p>
    <p class="text-danger">This system is currently in beta.</p>
</div>
</div>
