﻿
@{
    ViewBag.Title = "Directives";
}

<h2>Directives</h2>

<div class="row">
    <div class="col-xs-4">
        <p>
            Here we can use ng-app and ng-model to do two way binding
        </p>
    </div>
</div>
<div class="row" ng-app>
    <div class="col-xs-4">
        <label>Name: </label>
        <input type="text" ng-model="name"/>
        <p>Your name is {{name}}</p>
    </div>
</div>