﻿
@{
    ViewBag.Title = "Filters";
}

<h2>Filters</h2>

<div class="row" ng-app ng-init="friends=[{name:'Jennie', phone:'867-5309', age:'35'},
     {name:'Mary',phone:'111-2222',age:'30'},
     {name:'Mike',phone:'333-4444',age:'20'},
     {name:'Jim',phone:'555-6666',age:'24'}]">
    <div class="col-xs-4">
        <input type="text" ng-model="friendFilter"/>
    </div>
    <div class="col-xs-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="friend in friends | filter:friendFilter | orderBy: 'name'">
                <td>{{friend.name}}</td>
                <td>{{friend.phone}}</td>
                <td>{{friend.age}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>