﻿
@{
    ViewBag.Title = "Repeat";
}

<h2>Repeat</h2>

<div class="row" ng-app ng-init="primaryColors=['red', 'yellow', 'blue']">
    <div class="col-xs-4">
        <ul>
            <li ng-repeat="color in primaryColors" style="color: {{color}}">{{color}}</li>
        </ul>
    </div>
</div>