﻿
@{
    ViewBag.Title = "PolicyNav";
}
<h4>Policies Menu</h4>
<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("View Policies", "ListPolicies", "Policy")</li>
    <li>@Html.ActionLink("Manage Policies", "AddPolicy", "Policy")</li>
    <li>@Html.ActionLink("Manage Categories", "AddCategory", "Policy")</li>
</ul>
