﻿@model MVCStudentInfo.Models.Student
@{
    ViewBag.Title = "Add";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("StudentNav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h3>Add Student</h3>
                @Html.ActionLink("Return to List", "List", "Student")
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        <div class="col-xs-12 col-sm-7">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Personal Details</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>Student Id:</label>
                                        @Html.TextBoxFor(s => s.StudentId, new {@class = "form-control"})
                                    </div>
                                    <div class="form-group">
                                        <label>First Name:</label>
                                        @Html.TextBoxFor(s => s.FirstName, new {@class = "form-control"})
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name:</label>
                                        @Html.TextBoxFor(s => s.LastName, new {@class = "form-control"})
                                        <label>GPA:</label>
                                        @Html.TextBoxFor(s => s.GPA, new {@class = "form-control"})
                                    </div>
                                    <button class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


