﻿@model  List<MVCStudentInfo.Models.Student>

@{
    ViewBag.Title = "List";
}

<h2>Students</h2>
<p>@Html.ActionLink("Add a Student", "Add", "Student", null, new { @class = "btn btn-primary" })</p>
<table class="table table-striped" style="width: auto;">
    
    <thead>
    <tr>
        <th>Student Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>GPA</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.GPA</td>
            <td>@Html.ActionLink("Edit", "Edit", "Student", new { id = student.StudentId }, null)</td>
            <td>@Html.ActionLink("Delete", "Delete", "Student", new { id = student.StudentId }, null)</td> 
                

            

        </tr>
    }
    </tbody>
</table>


