﻿@model TinyMCE.Models.ExampleClass
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <div id="htmlContent">
        @Html.TextAreaFor(model => model.HtmlContent)
    </div>
    <div>
        @Html.TextAreaFor(model => model.Summary)
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
    <div>
        @Html.DisplayFor(model=> model.HtmlContent)
    </div>
    <div>
        @Html.DisplayFor(model => model.Summary)
    </div>
}

@section scripts
{    
    <script src="~/Scripts/tinymce/tinymce.js"></script>
    <script src="~/Scripts/Main.js"></script>
}