﻿<button class="btn btn-primary btn-lg" id="btnShowAddContact">Add New Contact</button>

<div class="modal fade" id="addContactModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Contact</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h3>Create Contact</h3>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" id="name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" id="phoneNumber" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveContact" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
