﻿
@model jQueryValidationExample.Models.RsvpResponse

@{
    ViewBag.Title = "RegistrationForm";
}



<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2>Registration Form</h2>
            @using (Html.BeginForm("RegistrationForm", "Home", null, FormMethod.Post, new {id="rsvpForm"}))
            {
               
                <div class="form-group">
                    <label>Your Name:</label>
                    @Html.TextBoxFor(m=>m.Name, new {@class = "form-control"})
                </div>

                <div class="form-group">
                    <label>Email:</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Phone:</label>
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Favorite Game:</label>
                    @Html.TextBoxFor(m => m.FavoriteGame, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Will you attend:</label>
                    @Html.DropDownListFor(m=>m.WillAttend, new []
                    {
                        new SelectListItem() {Text = "Yes", Value = bool.TrueString},
                        new SelectListItem() {Text = "No", Value = bool.FalseString}
                    }, "Choose an option", new {@class = "form-control"})
                </div>

                <button type="submit" class="btn btn-primary">Submit RSVP</button>
            }
        </div>

    </div> 
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/app/jquery-validate-defaults.js"></script>
    <script src ="/Scripts/app/rsvpValidation.js"></script>
}