﻿@model SCGHRPortal.Models.Category

@{
    ViewBag.Title = "AddCategory";
}

<h2>AddCategory</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>Category Name</label>
                <input type="text" name="txtddl" id="txtddl"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Add" class="btn btn-primary" onclick="AddCategoryToDropdown();"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <select id="ddl">   
                </select>
            </div>
        </div>
      
    </div>

}

<div>
    @Html.ActionLink("Back to List", "ListCategories")
</div>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/app/AddCategoryToDropdown.js"></script>
