﻿@model IEnumerable<SCGHRPortal.Models.Category>

@{
    ViewBag.Title = "ListCategories";
}

<h2>ListCategories</h2>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("PolicyNav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h4>View Policies</h4>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.Label("Options")
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditCategory", new { id = item.CategoryId }) |
                                @Html.ActionLink("Delete", "DeleteCategory", new { id = item.CategoryId })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>