﻿@model IEnumerable<SCGHRPortal.Models.Policy>

@{
    ViewBag.Title = "ListPolicies";
}


<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("PolicyNav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h4>View Policies</h4>
                @using (Html.BeginForm())
                {
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PolicyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PolicyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>

                            </tr>
                        }

                    </table>


                }
            </div>
        </div>
    </div>
</div>
