﻿@model ModelBindingSample.Models.Person

@{
    ViewBag.Title = "BindComplexTypes";
}

<h2>BindComplexTypes</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m=> m.PersonId, new {@class="control-label"})
        @Html.EditorFor(m=>m.PersonId, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
        @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
        @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address.City, new { @class = "control-label" })
        @Html.EditorFor(m => m.Address.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address.State, new { @class = "control-label" })
        @Html.EditorFor(m => m.Address.State, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address.Zip, new { @class = "control-label" })
        @Html.EditorFor(m => m.Address.Zip, new { @class = "form-control" })
    </div>
    <button class="btn btn-danger"></button>
}
<br/><br/>
<div>
    <button id="btnAddAnoter" class="btn btn-success">Add Another Address</button>
</div>

@section scripts
{
    
}