﻿
@{
    ViewBag.Title = "BindMultipleObject";
}

<h2>BindMultipleObject</h2>


@using (Html.BeginForm())
{
    <div id="adresses">
        <div class="form-group">
            <label>City</label>
            <input type="text" name="[0].City" , class="form-control" />
        </div>
        <div class="form-group">
            <label>State</label>
            <input type="text" name="[0].City" , class="form-control" />
        </div>
        <div class="form-group">
            <label>Zip</label>
            <input type="text" name="[0].City" , class="form-control" />
        </div>
    </div>
    <button class="btn btn-warning">Save</button>
}
