﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
<div>
    <form action="/home/addcontact" method="post">
        <p>
            <label>Name</label>
            <input type="text" id="Name" name="Name"/>
        </p>
        <p>
            <label>Phone</label>
            <input type="text" id="PhoneNumber" name="PhoneNumber"/>
        </p>
        <button>Save</button>
    </form>
</div>
</body>
</html>
