﻿@Model Contacts.Models.Contact
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditContact</title>
</head>
<body>
<div>
    <form action="/home/editcontact" method="post">
        <input type="hidden" id="ContactId" name="ContactId"/>
        <p>
            <label>Name</label>
            <input type="text" id="Name" name="Name" value="@Model.Name"/>
        </p>

        <p>
            <label>Phone</label>
            <input type="text" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber"/>
        </p>
    </form>
</div>
</body>
</html>
