﻿
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

@if (User.IsInRole("Admin"))
{
    <h2>Admin Workflows</h2>
    <a href="www.google.com">Google</a>
}

@if (User.IsInRole("Admin"))
{
    <h2>Editor Workflows</h2>
    <a href="www.yahoo.com">Yahoo</a>
}





