﻿@model List<Exercises.Models.Data.State>

@{
    ViewBag.Title = "States";
}

<div class="row">
    <div class="col-xs-12">
        <h3>States</h3>
        @Html.ActionLink("Add State", "AddState", "Admin", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>State Abbreviation</th>
                    <th>State Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var state in Model)
            {
                    <tr>
                        <td>@state.StateAbbreviation</td>
                        <td>@state.StateName</td>
                        <td>
                            @Html.ActionLink("Edit", "EditState", "Admin", new {id = state.StateAbbreviation}, null) |
                            @Html.ActionLink("Delete", "DeleteState", "Admin", new { id = state.StateAbbreviation }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
