﻿
@{
    ViewBag.Title = "CompletedApplication";
}



<h4>Thanks for applying</h4>
<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Application Form", "AddApplicant", "Applicant")</li>
    <li>@Html.ActionLink("List Applicants", "ListApplicants", "Applicant")</li>

</ul>