﻿@model List<SCGHRPortal.Models.Applicant>


@{
    ViewBag.Title = "ListApplicants";
}



<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("ApplicantNav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h4>Student List</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Address1</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip</th>
                            <th>Country</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var applicant in Model)
                        {
                            <tr>
                                <td>@applicant.ApplicantFirstName</td>
                                <td>@applicant.ApplicantLastName</td>
                                <td>@applicant.Address1</td>
                                <td>@applicant.City</td>
                                <td>@applicant.State</td>
                                <td>@applicant.Zip</td>
                                <td>@applicant.Country</td>
                                <td>@applicant.PhoneNumber</td>
                                <td>@applicant.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>