﻿@model List<MVCStudentInfo.Models.Major>

@{
    ViewBag.Title = "ListMajors";
}

<h2>ListMajors</h2>

<table class="table table-striped" style="width: auto;">
    <tr>
        <th>Major</th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var major in Model)
        {
            <tr>
                <td>@major.MajorName</td>
            </tr>
        }
    </tbody>
</table>