﻿
@{
    ViewBag.Title = "ListDVD";
}

<h2>ListDVD</h2>

<div class="row col-md-1">
    @Html.Partial("_CreateAddMoviesModal")
</div>
<div class="row col-md-1">
    @Html.Partial("_CreateDisplayMoviesModal")
</div>
<div class="row col-md-1">
    @Html.Partial("_CreateSearchMoviesModal")
</div>
<div class="row col-md-1" >
    @Html.Partial("_CreateDeleteMoviesModal")
</div>
<div class="row col-md-1">
    @Html.Partial("_CreateRentMoviesModal")
</div>

<br/><br />
<div class="row">
    <table id="MovieTable" class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Release Date</th>
            <th>MPAA Rating</th>
            <th>Director</th>
            <th>Studio</th>
            <th>User Rating</th>
            <th>Notes</th>
            <th>Actors</th>
        </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <link href="/Content/buttons.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/app/LoadData.js"></script>
    <script src="~/Scripts/app/AddMovieToList.js"></script>
    <script src="~/Scripts/app/SearchById.js"></script>
    <script src="~/Scripts/app/DeleteMovieById.js"></script>
    <script src="~/Scripts/app/DisplayMovieDetails.js"></script>
    <script src="/Scripts/app/jquery-validate-defaults.js"></script>
    

   
}


