﻿<div class="row">
    <div class="col-xs-8 col-xs-offset-4">
        <a href="#/AddFriend" class="btn btn-primary">Add Friend</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <input type="text" ng-model="friendFilter"/>
    </div>
    <div class="col-xs-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="friend in friends | filter: friendFilter | orderBy: 'name'">
                <td>{{friend.Name}}</td>
                <td>{{friend.Phone}}</td>
                <td>{{friend.Age}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>