﻿@model ModelValidation2.Models.Appointment

@{
    ViewBag.Title = "Completed";
}

<h2>Completed</h2>

<h4>Your appoinment is confirmed</h4>
<p>Your name is: <b>@Html.DisplayFor(m => m.ClientName)</b></p>
<p>The date of your appoinment is: <b>@Html.DisplayFor(m => m.Date)</b></p>