﻿@model ModelValidation2.Models.Appointment

@{
    ViewBag.Title = "MakeBooking";
}

<h2>MakeBooking</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    <p>Your name: @Html.EditorFor(m => m.ClientName)<br/>@Html.ValidationMessageFor(m=>m.ClientName)</p>
    <p>Appoinment date: @Html.EditorFor(m => m.Date)<br />@Html.ValidationMessageFor(m => m.Date)</p>
    <p>@Html.EditorFor(m => m.TermsAccepted)I accept the terms & conditions<br />@Html.ValidationMessageFor(m => m.TermsAccepted) </p>
    <input type ="submit" value="Make Booking"/>

}
