﻿
@{
    ViewBag.Title = "Index";
}

<h2>My Contacts</h2>

<div class="row">
    @Html.Partial("_CreateContactModal")
</div>

<div class="row">
    <table id="contacts">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
        var uri = '/api/contacts/';

        $(document)
            .ready(function() {
                loadContacts();
            });

        function loadContacts() {
            $.getJSON(uri)
                .done(function (data) {
                    $('#contacts tbody tr').remove();
                    $.each(data,
                        function(index, contact) {
                            $(createRow(contact)).appendTo($('#contacts tbody'));
                        });
                });
        };

        function createRow(contact) {
            return '<tr><td>' +
                contact.ContactId +
                '</td><td>' +
                contact.Name +
                '</td><td>' +
                contact.PhoneNumber +
                '</td></tr>';
        }
    </script>
    <script src="~/Scripts/app/createContact.js"></script>
}
