﻿
@{
    ViewBag.Title = "LookupContact";
}

<h2>Lookup Contact</h2>

<div class="container">
    <div class="row">
        <h3>Search by Id</h3>
        <div class="form-group">
            <label>Contact Id</label>
            <input type="text" id="contactId" class="form-control"/>
        </div>
        <button id="btnSearch" class="btn btn-primary">Search</button>
    </div>
    <hr/>
    <div class="row">
        <p id="contact"></p>
    </div>
</div>

@section scripts
{
    <script>
        var uri = '/api/contacts/';

        function find() {
            var id = $('#contactId').val();

            $.getJSON(uri + id)
                .done(function(data) {
                    $('#contact').text(data.Name + " - " + data.PhoneNumber);
                })
                .fail(function(jqXhr, status, err) {
                    $('#contact').text('Error: ' + err);
                });
        }

        $(document)
            .ready(function() {
                $('#btnSearch')
                    .on('click',
                        function() {
                            find();
                        });
            });
    </script>
}